canvas {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/5_background/layers/air.png');
    
}

h1 {
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.start-screen {
    display: contents;
    text-align: center;
    margin-top: 50px;
    
  }
  
  .start-screen img {
    width:720px ;
    margin-bottom: 20px;
    height: 480;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  @keyframes pulseAnimation {
    0% {
      transform: skew(-20deg) scale(1);
    }
    50% {
      transform: skew(-20deg) scale(1.2);
    }
    100% {
      transform: skew(-20deg) scale(1);
    }
  }
  
  .start-screen button {
    background-color: rgb(255, 150, 0);
    color: white;
    font-size: 27px;
    text-shadow: rgba(0, 0, 0, 0.6) 3px 3px 6px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 4px solid white;
    width: 176px;
    height: 80px;
    transform: skew(-20deg) scale(1);
    font-family: zabars, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    animation: 2s ease 0s infinite normal none running pulseAnimation;
    transition: color 0.3s, border-color 0.3s;
}

.start-screen button:hover {
    color: black; /* Orange */
    border-color:  rgb(255, 150, 0);
  }
  